repos:
-   repo: local
    hooks:
      - id: create-index
        name: create-index
        entry: bash -c 'uv run python index.py && git add index.md'
        language: system
        types: [markdown]
        always_run: true
